@import url('https://fonts.googleapis.com/css2?family=Anton&family=Anton+SC&family=Bebas+Neue&family=Cambo&family=Chivo:ital,wght@0,100..900;1,100..900&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Satisfy&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Yellowtail&display=swap');

body {
    --g1: var(--staff);
    --g2: var(--ciudadanos);
    --g3: var(--celebridades);
    --g4: var(--sanidad);
    --g5: var(--seguridad);
    --g6: var(--empresarios);
    --g7: var(--criminales);
    --g8: var(--pesca);
    --g9: var(--refineria);
    --g10: var(--sami);
    --g11: var(--pnj);
    --g12: var(--inactivos);
    word-break: auto-phrase;
}

/*Thiago*/
.thiago {
    margin: 25px auto;
    width: 995px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    font-family: "Poppins";
    transition: 0.7s ease-in-out
}

.cbs {
    border-radius: 5px;
    border: 1px solid var(--brd-c);
    position: relative;
    background: var(--bckg-2);
}

.cbs upper {
    display: flex;
    gap: 10px;
    padding: 8px 15px;
    border-radius: 5px 5px 0 0;
    justify-content: right;
    align-items: center;
    background: linear-gradient(45deg, var(--acentoa), var(--acentob));
    border-bottom: 1px solid var(--brd-c);
    position: relative;
    color: #eee !important;
}

.cbs upper>i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    cursor: pointer;
    transition: 0.7s ease-in-out;
}

.cbs upper>i:hover {
    opacity: 0.5;
    transition: 0.7s ease-in-out;
}

.cbs upper>span {
    position: absolute;
    left: 15px;
    text-transform: uppercase;
    font-weight: 800;
    font-style: italic;
    font-size: 11px;
    letter-spacing: 1px;
}

.thiago-up {
    width: 725px;
    margin-left: 175px;
    z-index: 2;
}

.thiago-up>span {
    display: block;
    padding: 10px 20px 5px;
    font-size: 40px;
    line-height: 45px;
    -webkit-text-stroke: 1px var(--acentoa);
    color: transparent;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

.thiago-up>span>b {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    background: -webkit-linear-gradient(45deg, var(--acentoa), var(--acentob));
    -webkit-text-stroke: 0;
    font-weight: 900;
}

.thiago-up>links {
    padding: 0px 170px 15px 15px;
    width: -webkit-fill-available;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 5px;
}

.thiago-up>links>a {
    border: 1px solid var(--brd-c);
    padding: 2px 5px;
    border-radius: 5px;
    text-decoration: none;
    background: var(--acentoa);
    color: var(--bckg-2) !important;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.7s ease-in-out;
}

.thiago-up>links>a:hover {
    opacity: 0.7;
    transition: 0.7s ease-in-out;
}

.thiago-ct {
    width: 750px;
    height: 375px;
    margin-left: 85px;
    margin-top: -70px;
}

.thiago-ct>div {
    padding: 10px 30px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 320px;
    width: 690px;
    overflow: hidden;
    position: relative;
}

.thiago-ct>div>div {
    display: flex;
    gap: 25px;
    align-items: center;
    position: relative;
    z-index: 3;
    scale: 0;
    color: #ccc;
    transition: 0.7s ease-in-out;
}

.thiago-ct>div>div>p {
    text-shadow: -2px 2px rgba(0, 0, 0, 0.7);
    text-align: justify;
    text-align-last: justify;
    font-weight: 500;
    font-size: 12px;
    width: 192px;
}

.content.clearfix .thiago-ct>div>div>p>b,
.thiago-ct>div>div>p>b,
.content.clearfix .thiago-ct>div>div>p>i,
.thiago-ct>div>div>p>i,
.content.clearfix .thiago-ct>div>div>p>u,
.thiago-ct>div>div>p>u {
    color: var(--acentoa);
    text-transform: uppercase;
    font-size: 10px;
}

.thiago:hover .thiago-ct>div>div {
    scale: 1;
    transition: 0.7s ease-in-out;
    transition-delay: 0.8s;
}

.thiago-ct>div:before,
.thiago-ct>div:after {
    width: 750px;
    height: 350px;
    position: absolute;
    content: "";
    background: #000;
    top: 0px;
    transition: 0.7s ease-in-out;
}

.thiago-ct>div:before {
    mix-blend-mode: color;
    translate: -755px 0;
}

.thiago-ct>div:after {
    opacity: 0.5;
    translate: 755px 0;
}

.thiago:hover .thiago-ct>div:before,
.thiago:hover .thiago-ct>div:after {
    translate: -0px 0;
    transition: 0.7s ease-in-out;
}

.thiago-ct>div>div>img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
    border: 2px solid #444;
    outline: 1px solid var(--acentoa);
    outline-offset: 7px;
    margin: 5px;
}

.thiago-dt {
    position: absolute;
    right: 5px;
    width: 250px;
    top: 50px;
    z-index: 3;
}

.thiago-dt>div,
.thiago-rs>div {
    padding: 25px;
}

.thiago-dt>div>span {
    display: block;
    margin-bottom: 8px;
}

.thiago-dt>div>span>strong,
.thiago-ex>div>span>strong {
    display: flex;
    align-items: center;
    gap: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--acentoa);
}

.thiago-dt>div>span:last-of-type {
    margin: 0;
}

.thiago-dt>div>span>w {
    margin-left: 18px;
    display: block;
}

.thiago-ex {
    width: 725px;
    margin-top: -50px;
}

.thiago-ex>div {
    display: flex;
    justify-content: space-around;
    padding: 20px 25px 32px 25px;
    gap: 5px 20px;
    flex-wrap: wrap;
    align-content: center;
}

.thiago-ex>div>span {
    display: flex;
    gap: 5px;
}

.thiago-rs {
    width: 750px;
    margin-top: -18px;
    margin-left: 105px;
}

.thiago-rs>div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
}

.thiago-rs>div>span {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    border: 1px solid var(--brd-c);
    background: var(--bckg-1);
    border-radius: 5px;
    padding-right: 5px;
    flex: auto;
    text-transform: math-auto;
}

.content.clearfix .thiago-rs>div>span>b,
.thiago-rs>div>span>b {
    background: linear-gradient(45deg, var(--acentoa), var(--acentob));
    padding: 4px 8px 4px 10px;
    border-radius: 5px 0 0 5px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 11px;
    color: var(--bckg-2) !important;
}

.thiago.crono {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    column-gap: 20px;
    align-items: start;
    columns: 2;
    column-gap: 20px;
}

.thiago-mes {
    width: 100%;
    max-width: 485px;
    height: fit-content;
    grid-row: span 2;
    break-inside: avoid;
    width: 100%;
    max-width: 485px;
    margin-bottom: 20px;
}

.thiago-mes:nth-child(odd) {
    grid-column: 1;
    margin-left: 7%;
    margin-top: -32px;
}

.thiago-mes:nth-child(even) {
    grid-column: 1;
    margin-left: 97%;
    margin-top: -32px;
}

.thiago-mes:nth-child(1),
.thiago-mes:first-of-type {
    margin-top: 0;
}

.thiago-mes>div {
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

.thiago-tema {
    width: -webkit-fill-available;
}

.thiago-tema>span {
    width: 100%;
    display: flex;
    gap: 5px;
    align-items: center;
}

.content.clearfix .thiago-tema>span>i,
.thiago-tema>span>i {
    color: #999;
}

.content.clearfix .thiago-tema>span>i.far.fa-lock-open-alt,
.thiago-tema>span>i.far.fa-lock-open-alt {
    color: #555;
    font-weight: 600;
}

.thiago-tema>span>a {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    background: -webkit-linear-gradient(45deg, var(--acentoa), var(--acentob));
    font-weight: 800;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.7s ease-in-out;
    text-align: start;
    padding: 5px 0;
}

.thiago-tema>span>a:hover {
    opacity: 0.5;
    transition: 0.7s ease-in-out;
}

.thiago-tema>i {
    width: 100%;
    text-align: end;
    display: block;
    margin-top: -8px;
    font-size: 11px;
}

.thiago-tema>i>b:after {
    content: " —"
}

.thiago-tema>i>a,
.thiago-tema>i>i>a {
    color: var(--acento) !important;
}

.thiago.rela {
    gap: 20px;
    text-align: center;
    justify-content: center;
}

.thiago-rl {
    width: 250px;
    height: 270px;
    position: relative;
}

.thiago-rl upper {
    background: linear-gradient(45deg, var(--acento), #222);
}

.thiago-rl>div {
    width: 250px;
    height: 240px;
    border-radius: 0px 0px 5px 5px;
    position: relative;
    overflow: hidden;
}

.thiago-rl>div>div {
    display: flex;
    align-content: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    flex-wrap: wrap;
    gap: 10px;
    color: #ddd;
}

.thiago-rl>div>div>span {
    padding: 5px;
    display: block;
    width: -webkit-fill-available;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    position: relative;
    z-index: 1;
    translate: -245px 0;
    text-shadow: -1px 1px rgba(0, 0, 0, 0.4);
    transition: 0.7s ease-in-out;
}

.content.clearfix .thiago-rl>div>div>i,
.thiago-rl>div>div>i {
    background: var(--acento);
    padding: 15px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    position: relative;
    z-index: 1;
    translate: 245px 0;
    color: #eee;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
    transform: scale(1);
    animation: pulse 2s infinite;
    transition: 0.7s ease-in-out;
}

.thiago-rl:hover div>div>span,
.content.clearfix .thiago-rl:hover div>div>i,
.thiago-rl:hover div>div>i {
    translate: 0 0;
    transition: 0.7s ease-in-out;
    transition-delay: 0.5s;
}

.thiago-rl>div:before {
    content: "";
    position: absolute;
    inset: 0;
    background: black;
    mix-blend-mode: color;
    translate: 0 255px;
    transition: 0.7s ease-in-out;
    transition-delay: 0.5s;
}

.thiago-rl>div>div:before {
    width: 250px;
    height: 240px;
    content: "";
    position: absolute;
    background: #000;
    opacity: 0.3;
    translate: 0 255px;
    transition: 0.7s ease-in-out;
    transition-delay: 0.5s;
}

.thiago-rl>div>div:after {
    width: 250px;
    height: 240px;
    content: "";
    position: absolute;
    background: linear-gradient(0, var(--acento), transparent);
    mix-blend-mode: multiply;
    translate: 0 255px;
    transition: 0.7s ease-in-out;
    transition-delay: 0.5s;
}

.thiago-rl:hover div>div:after,
.thiago-rl:hover div>div:before,
.thiago-rl:hover div:before {
    translate: 0 0;
    transition: 0.7s ease-in-out;
}

.thiago.post {
    width: 700px;
}

.thiago-pst {
    width: fit-content;
}

.thiago-pst>div {
    padding: 25px;
    width: fit-content;
    max-width: 700px;
}

.thiago-pst>div>img {
    max-width: 700px;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

.thiago br {
    display: none;
}

.thiago-ct>div>div>p br {
    display: inherit;
}

.civil,
.ciudadano {
    --acento: var(--ciudadanos);
    --acentob: var(--criminales);
}

.cele,
.celebridad {
    --acento: var(--g3);
    --acentob: var(--criminales);
}

.sanidad {
    --acento: var(--sanidad);
    --acentob: var(--refineria);
}

.polis,
.seguridad {
    --acento: var(--seguridad);
    --acentob: var(--empresarios);
}

.empre,
.empresario {
    --acento: var(--empresarios);
    --acentob: var(--sami);
}

.crimi,
.criminal {
    --acento: var(--criminales);
    --acentob: var(--ciudadanos);
}

.pesca,
.pescador {
    --acento: var(--pesca);
    --acentob: var(--criminales);
}

.petro,
.refineria {
    --acento: var(--refineria);
    --acentob: var(--sanidad);
}

.sami {
    --acento: var(--sami);
    --acentob: var(--empresarios);
}

.pnj,
.npc {
    --acento: var(--pnj);
    --acentob: var(--ciudadanos);
}

.comercio {
    --acento: var(--comercio-industria);
    --acentob: var(--seguridad);
}