@import url('https://fonts.googleapis.com/css2?family=Anton&family=Anton+SC&family=Bebas+Neue&family=Cambo&family=Chivo:ital,wght@0,100..900;1,100..900&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Satisfy&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Yellowtail&display=swap');

body {
    --background-2: var(--bckg-2);
    --background-1: var(--bckg-1);
    --background-3: var(--bckg-3);
    --accent: var(--acc-1);
    --cborder: var(--brd-c);
    --color-icon: var(--cicon);
    --g1: var(--staff);
    --g2: var(--ciudadanos);
    --g3: var(--celebridades);
    --g4: var(--sanidad);
    --g5: var(--seguridad);
    --g6: var(--empresarios);
    --g7: var(--criminales);
    --g8: var(--pesca);
    --g9: var(--refineria);
    --g10: var(--sami);
    --g11: var(--pnj);
    --g12: var(--inactivos);
    --color: var(--ctext);
    word-break: auto-phrase;
}

dl.codebox {
    font-size: 14px;
}

.content.clearfix {
    max-width: 1045px;
}

.ery {
    --blancorgb: 255, 255, 255;
    --negrorgb: 0, 0, 0;
}

body.day .ery {
    --ctext: #666;
}

body.night .ery {}

/*MULETITAS*/
.sp-rol {
    background: var(--accent);
    width: 445px;
    margin: auto;
    border-radius: 30px;
    padding: 10px;
    border: 5px solid var(--bckg-2);
}

.spr-content {
    background: var(--bckg-1);
    margin: auto;
    border-radius: 20px;
    padding: 20px;
    font-family: arial, sans-serif;
    line-height: 19.5px;
    font-size: 0.85rem;
    letter-spacing: 0.25px;
}

.spr-title {
    margin: -22px -22px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: var(--accent);
    color: #eee;
    padding: 30px;
    line-height: 23px;
    text-align: center;
    font-size: 30px;
    font-family: "Sofia Sans Semi Condensed", sans-serif;
    position: relative;
}

.spr-title:before {
    content: "";
    position: absolute;
    background: radial-gradient(circle at top right, transparent 19.5px, var(--accent) 20px);
    width: 20px;
    height: 20px;
    transform: rotate(90deg);
    left: 1.8px;
    bottom: -19.8px;
}

.spr-title:after {
    content: "";
    position: absolute;
    background: radial-gradient(circle at top right, transparent 19.5px, var(--accent) 20px);
    width: 20px;
    height: 20px;
    transform: rotate(180deg);
    right: 1.8px;
    bottom: -19.8px;
}

.spr-title>b,
.spr-title>m {
    display: block;
    color: var(--bckg-1) !important;
    font-size: 25px;
    font-weight: 900;
    font-family: 'Poppins';
    text-transform: uppercase;
    position: relative;
}

.spr-info {
    background: var(--bckg-2);
    border-radius: 15px;
    padding: 8px 12px;
    text-align: center;
    margin-top: 13px;
}

.spr-title>i {
    position: absolute;
    font-size: 60px;
    opacity: 0.3;
    color: var(--bckg-1) !important;
}


/****/
.smp-tramas {
    width: 600px;
    margin: 0 auto 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 13.5px;
    letter-spacing: 0.5px;
}

.smptram-t,
.smptram-info {
    overflow: hidden;
    padding: 20px;
    border: var(--brd);
    background: var(--bckg-2);
    border-radius: var(--brd-r-2);
    line-height: 19px;
}

.smptram-t {
    padding: 20px 30px 25px;
}

.smptram-text dl.codebox.spoiler {
    margin: 0;
}

.smptram-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.smptram-title>b {
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: var(--accent);
    margin: -5px 0px 5px -10px;
    font-family: 'Poppins', sans-serif;
    display: block;
}

.smptram-title>span {
    font-family: 'Poppins', sans-serif;
    font-size: 9px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 0px 9px;
    border-radius: 15px;
    background: var(--grd);
    color: var(--bckg-2);
    border: 1px solid var(--brd-c);
    white-space: nowrap;
    margin: 0 0 5px -10px;
    display: inline-block;
    line-height: 18px;
}

body.day .smptram-title>span {
    color: var(--bckg-2);
}

.smptram-text br {
    display: none;
}

.smptram-t br,
.smptram-info br {
    display: inherit;
}

.smptram-info>i {
    background: var(--grd);
    padding: 10px;
    border-radius: 10px;
    margin-right: 8px;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    float: left;
    color: var(--bckg-2);
}


/*TEMAS*/
.poste2 {
    width: 520px;
    margin: 20px auto;
    background: var(--background-3);
    border: 2px solid var(--background-2);
    outline: 1px solid var(--cborder);
    border-radius: 15px;
    overflow: hidden;
    --acentob: var(--acento);
}

.poste2-h {
    padding: 22px 26px 18px;
    border-bottom: 3px solid var(--acento);
    font-family: var(--font), sans-serif;
}

span.poste2-hf {
    font-size: 9px;
    font-weight: 400;
    color: var(--acento);
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 5px;
    margin-left: 5px;
    display: block;
}

.poste2-ht {
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    line-height: 1.2;
}

.poste2-tx {
    background: var(--background-2);
    padding: 18px 26px;
    border-radius: 0;
    line-height: 20px;
    text-align: justify;
}

.poste2-bt {
    padding: 15px 20px;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
}


.poste3 {
    width: 520px;
    margin: 20px auto;
    background: var(--background-3);
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid var(--cborder);
    --acentob: var(--acento);
}

.poste3-h {
    border-bottom: 1px solid var(--cborder);
    padding: 0;
    display: flex;
    align-items: stretch;
}

.poste3-ib {
    width: 80px;
    background: var(--acento);
    border-right: 1px solid var(--cborder);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 15px 0;
    color: #eee;
}

.poste3-ib>i {
    font-size: 25px;
}

.poste3-t {
    flex: 1;
    padding: 16px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    font-family: var(--font), sans-serif;
}

.poste3-ht {
    font-weight: 900;
    font-size: 20px;
    text-transform: uppercase;
    padding: 5px 0;
    letter-spacing: 1.5px;
    line-height: 1.2;
}

.poste3-hf {
    font-family: 'Nunito', sans-serif;
    font-size: 9px;
    margin-left: 10px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.poste3-tx,
.poste4-tx {
    font-size: 15px;
    padding: 18px 24px;
    min-height: 60px;
    background: var(--background-2);
    text-align: justify;
    line-height: 20px;
}

.poste3-f {
    display: flex;
    align-items: center;
    gap: 10px;
    border-top: 1px solid var(--cborder);
    padding: 10px 20px;
    font-size: 11px;
}

.poste3-fic {
    width: 28px;
    height: 28px;
    border-radius: 100%;
    background: var(--acento);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    color: #eee;
}


.poste4 {
    width: 520px;
    margin: 20px auto;
    background: var(--background-3);
    overflow: hidden;
    border-left: 5px solid var(--acento);
    --acentob: var(--acento);
}

.poste4-h {
    padding: 18px 22px;
    border-bottom: 1px solid var(--cicon);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
}

.poste4-t {
    font-family: var(--font), sans-serif;
    font-weight: 900;
    font-size: 23px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.2;
}

.poste4-r {
    font-family: 'Nunito', sans-serif;
    font-size: 9px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: right;
    opacity: 0.5;
}

.poste4-ir {
    display: flex;
    gap: 0;
    border-bottom: 1px solid var(--cicon);
}

.poste4-i {
    flex: 1;
    height: 32px;
    display: flex;
    align-items: center;
    border-right: 1px solid var(--cicon);
    justify-content: space-between;
    padding: 2px 10px;
    gap: 5px;
    flex: auto;
}

.poste4-i:last-child {
    border: none;
}

.poste4-i span {
    font-family: 'Nunito', sans-serif;
    font-size: 8px;
    line-height: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.poste4-i>i {
    color: var(--acento);
}

.poste4-bt {
    padding: 10px;
}

.poste5 {
    width: 530px;
    margin: 20px auto;
    background: var(--background-3);
    border: 1px solid var(--cborder);
    position: relative;
    --acentob: var(--acento);
}

.poste5:before {
    content: "";
    border: 1px solid var(--cborder);
    border-left: none;
    position: absolute;
    top: 30px;
    right: 30px;
    left: 0;
    bottom: 30px;
}

.poste5:after {
    content: "";
    right: 0;
    width: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    background: linear-gradient(45deg, var(--background-1), transparent);
}

.poste5-h {
    padding: 50px 50px 10px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    z-index: 1;
}

.poste5-t {
    flex: 1;
    display: flex;
    gap: 10px;
    padding-top: 4px;
    flex-wrap: wrap;
    justify-content: right;
}

span.poste5-hh {
    font-family: var(--font), sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    width: 100%;
    text-align: end;
    font-size: 25px;
    line-height: 22px;
}

.poste5-sb {
    font-family: 'Noto Sans', sans-serif;
    font-size: 9px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: right;
    opacity: 0.5;
}

.poste5-sb:before {
    content: "+";
    font-size: 11px;
    color: var(--acento);
    margin-right: 5px;
    font-weight: 900;
}

.poste5-im {
    height: 130px;
    background: var(--background-1);
    position: relative;
    width: 120px;
}

.poste5-im:before {
    content: "";
    width: 120px;
    height: 130px;
    border: 1px solid var(--cborder);
    position: absolute;
    top: 5px;
    right: 5px;
}

.poste5-tx {
    position: relative;
    z-index: 1;
    padding: 25px 55px 25px 25px;
    text-align: justify;
    line-height: normal;
}

.poste5-f {
    padding: 10px 30px;
    background: var(--background-1);
    font-family: 'Noto Sans', sans-serif;
    font-size: 7.5px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: left;
    height: 9px;
    line-height: 5px;
}

.poste6 {
    width: 530px;
    background: var(--background-3);
    margin: 20px auto;
    border: 1px solid var(--cborder);
    display: flex;
    --acentob: var(--acento);
}

.poste6-v {
    width: 34px;
    border-right: 1px solid var(--cborder);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding: 20px 0;
    gap: 15px;
}

.poste6-v span.vt {
    writing-mode: vertical-rl;
    font-family: var(--font), sans-serif;
    font-size: 9px;
    letter-spacing: 3px;
    text-transform: uppercase;
    transform: rotate(180deg);
    font-weight: 600;
}

.v-dot {
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background: var(--acento);
}

.poste6 .cot {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.poste6-t {
    padding: 24px 26px 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-content: center;
    justify-content: end;
    border-bottom: 1px solid var(--cborder);
}

span.poste6-hh {
    font-family: var(--font), sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    width: 100%;
    text-align: end;
    font-size: 25px;
    line-height: 22px;

}

.poste6-sb {
    font-family: 'Noto Sans', sans-serif;
    font-size: 9px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: right;
    opacity: 0.5;
}

.poste6-sb:before {
    content: "+";
    font-size: 11px;
    color: var(--acento);
    margin-right: 5px;
    font-weight: 900;
}

.poste6-tx {
    padding: 18px 24px;
    min-height: 60px;
    background: var(--background-2);
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
}

.poste6-f {
    border-top: 1px solid var(--cborder);
    padding: 10px 25px;
    font-family: var(--font), sans-serif;
    font-size: 9px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: start;
    font-weight: 600;
}


.poste7 {
    width: 580px;
    background: var(--background-2);
    margin: 20px auto;
    font-family: arial, sans-serif;
    text-align: justify;
    position: relative;
    --acentob: var(--acento);
}

.poste7-h {
    display: flex;
    height: 155px;
    position: relative;
    background: var(--background-3);
}

.poste7-ht {
    flex: 0 0 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 20px;
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
}

.poste7-ht strong,
.poste7-ht b,
.poste7-ht i,
.poste7-ht srike,
.poste7-ht u {
    color: var(--acento);
    flex: initial;
    display: contents;
}

.poste7-hi {
    flex: 1;
    overflow: hidden;
    position: relative;
    background-color: var(--background-3);
    background-blend-mode: luminosity;
}

.poste7-hi:before {
    content: "";
    inset: 0;
    background: var(--acento);
    position: absolute;
    mix-blend-mode: multiply;
}

.poste7-tx {
    padding: 25px;
    text-align: justify;
}

.poste7-f {
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    background: var(--background-3);
}

.poste7-f>div {
    border: 1.5px solid var(--cborder);
    padding: 3px 10px;
    font-size: 7px;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.poste8 {
    width: 550px;
    background: var(--background-2);
    margin: 20px auto;
    font-family: arial, sans-serif;
    text-align: justify;
    position: relative;
    border-radius: 16px;
    overflow: hidden;
}

body.day .poste8,
body.day .poste7,
body.day .poste6,
body.day .poste5,
body.day .poste4,
body.day .poste3,
body.day .poste2 {
    --background-2: #eee;
    --background-3: #e5e5e5;
}

.poste8-h {
    padding: 25px 30px;
    background: linear-gradient(135deg, var(--acento), var(--acentob));
    text-align: center;
    color: #eee;
    letter-spacing: 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    min-height: 140px;
    align-content: center;
    position: relative;
}

.poste8-h:before {
    content: "";
    inset: 0;
    background: url(https://i.ibb.co/NdB752GB/tumblr-olw5qba-SFs1s1bwvio3-500.gif);
    position: absolute;
    mix-blend-mode: plus-lighter;
    opacity: 0.1;
}

.poste8-h>sb {
    font-family: 'IM Fell English', serif;
    font-style: italic;
    font-size: 12px;
    display: block;
    position: relative;
    z-index: 1;
}

.poste8-h>span {
    font-family: 'Cinzel', serif;
    font-weight: 900;
    font-size: 38px;
    line-height: 38px;
    text-transform: uppercase;
    display: block;
    position: relative;
    z-index: 1;
}

.ornament {
    text-align: center;
    font-size: 18px;
    letter-spacing: 8px;
    position: relative;
    z-index: 1;
}

.poste8-tx {
    padding: 20px 24px;
    min-height: 60px;
    line-height: 20px;
    text-align: justify;
    word-break: auto-phrase;
}

.poste8-h.fute {
    min-height: 20px;
    padding: 15px 20px;
    display: flex;
    align-items: center;
}

.poste8-h.fute>div {
    flex: 1;
    text-align: center;
    font-size: 9px;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    z-index: 1;
    position: relative;
    color: var(--color);
    background: var(--background-2);
    border-radius: 10px;
    padding: 5px 10px;
}

.e-sppp {
    width: 525px;
    margin: 15px auto 10px;
    line-height: 1.2rem;
    font-size: 0.85rem;
    font-family: arial, sans-serif;
    text-align: justify;
    color: var(--ctext);
    position: relative;
    background: var(--bckg-2);
    box-sizing: content-box;
    border-radius: var(--radius);
    overflow: hidden;
    --font: "Noto Sans";
    --letrab: "Poppins";
    --radius: 25px;
    --blancorgb: 255, 255, 255;
}

.e-sppp-cabecera {
    background: linear-gradient(45deg, var(--acento), var(--acentob));
    background-attachment: fixed;
    padding: 30px 30px 0px;
    min-height: 120px;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
    position: relative;
    color: #eee;
}

.e-sppp-cabecera:after {
    content: "";
    clip-path: url(#curvatura-path);
    width: 525px;
    height: 80px;
    position: absolute;
    background: linear-gradient(45deg, var(--acento), var(--acentob));
    background-attachment: fixed;
    bottom: -70px;
}

.e-sppp-titulo {
    font-family: var(--letrab);
    font-size: 38px;
    width: 100%;
    font-weight: 800;
    color: rgba(var(--blancorgb), 0.4);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(var(--blancorgb), 0.8);
    text-shadow: 2px -2px var(--acentob);
    text-transform: uppercase;
    letter-spacing: -0.5px;
    line-height: 35px;
}

.e-sppp-extra {
    padding: 2px 15px;
    font-family: var(--font);
    font-size: 0.6rem;
    line-height: 1rem;
    letter-spacing: 1px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 800;
    width: 100%;
    mix-blend-mode: screen;
    position: relative;
    z-index: 1;
}

.e-sppp-extra>a {
    color: #eee !important;
}

.e-sppp-txt {
    margin: 90px 35px 35px;
    padding: 25px;
    background: var(--bckg-1);
    border-radius: var(--radius);
}

.e-sppp2 {
    width: 500px;
    margin: 15px auto 10px;
    line-height: 1.2rem;
    font-size: 0.85rem;
    font-family: arial, sans-serif;
    text-align: justify;
    color: var(--ctext);
    position: relative;
    background: var(--bckg-1);
    border: 10px solid var(--bckg-3);
    outline: var(--brd);
    box-sizing: content-box;
    --font: "Signika Negative";
    --letrab: "Montserrat";
}

.e-sppp2-cabecera {
    height: 150px;
    padding: 25px;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    font-weight: 900;
    text-transform: uppercase;
    color: #eee;
}

.e-sppp2-cabecera:before,
.e-sppp2-datos:before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(45deg, var(--acentob), var(--acento));
    mix-blend-mode: multiply;
}

.e-sppp2-titulo {
    position: relative;
    font-size: 62px;
    line-height: 43px;
    font-family: var(--letrab);
    text-shadow: 1px 1px rgba(var(--negrorgb), 0.8);
    letter-spacing: -2px;
}

.e-sppp2-extra {
    position: absolute;
    background: var(--bckg-2);
    padding: 2px 10px;
    margin: -10px;
    font-family: var(--font);
    font-size: 0.5rem;
    letter-spacing: 1px;
    color: var(--acento);
}

.e-sppp2-txt {
    padding: 30px;
    border-left: 5px solid var(--bckg-2);
    border-right: 5px solid var(--bckg-2);
}

.e-sppp2-datos {
    position: relative;
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
}

.e-sppp2-datos span {
    background: var(--bckg-2);
    padding: 6px 10px;
    color: var(--acento);
    font-family: var(--font);
    font-size: 0.7rem;
    line-height: 0.8rem;
    letter-spacing: 1px;
    z-index: 1;
    position: relative;
}

.e-sppp3 {
    width: 600px;
    margin: 15px auto 10px;
    line-height: 1.2rem;
    font-size: 0.85rem;
    font-family: arial, sans-serif;
    text-align: justify;
    color: var(--ctext);
    background: var(--bckg-2);
    border-radius: var(--radius);
    position: relative;
    box-shadow: var(--shw);
    --font: "Noto Sans";
    --letrab: "Poppins";
    --radius: 25px;
    --shw: 2px 2px 8px rgba(var(--negrorgb), 0.3);

}

.e-sppp3-supe,
.e-sppp3-datos {
    background: var(--bckg-2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 10px 15px;
    border-radius: var(--radius) var(--radius) 0 0;
}

.e-sppp3-buts {
    width: 100px;
    display: flex;
    gap: 5px;
}

.e-sppp3-buts span {
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background: green;
    padding: 2px;
    border: 1px solid;
}

.e-sppp3-buts span:nth-child(1) {
    background: #ff5e5c;
    border: 1px solid #e54546;
}

.e-sppp3-buts span:nth-child(2) {
    background: #ffbb4e;
    border: 1px solid #e39f45;
}

.e-sppp3-buts span:nth-child(3) {
    background: #00ca58;
    border: 1px solid #13ac48;
}

.e-sppp3-supe>i {
    color: #dd4539;
    font-size: 15px;
    cursor: pointer;
}

.e-sppp3-bar {
    display: flex;
    padding: 10px;
    background: var(--bckg-3);
    border-top: 1px solid rgba(var(--negrorgb), 0.1);
    border-bottom: 1px solid rgba(var(--negrorgb), 0.1);
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    color: var(--ctext);
}

.e-sppp3-bar>span {
    padding: 2px 5px;
    font-size: 10px;
    font-family: var(--font);
    text-transform: uppercase;
    font-weight: 600;
    border: 1px solid rgba(var(--negrorgb), 0.1);
    background: var(--bckg-2);
    width: 480px;
    border-radius: 5px;
    overflow: hidden;
}

.e-sppp3-bar>div {
    width: 50px;
    display: flex;
    gap: 15px;
    justify-content: end;
    padding: 0 2px;
}

.e-sppp3-bar>div>i {
    display: flex;
    justify-content: center;
    font-size: 15.5px;
    cursor: pointer;
    transition: .7s ease-in-out;
}

.e-sppp3-bar>div>i:hover {
    opacity: .7;
    transition: .7s ease-in-out;
}

.e-sppp3-titulo {
    padding: 50px 50px 65px;
    display: flex;
    position: relative;
    background: var(--bckg-2);
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--ctext);
    font-family: var(--letrab);
    min-height: 50px;
}

.e-sppp3-titulo>span {
    font-size: 25px;
    position: relative;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 25px;
}

.e-sppp3-titulo>span:before {
    content: "";
    position: absolute;
    bottom: -15px;
    height: 10px;
    left: -5px;
    right: -5px;
    background: linear-gradient(90deg, var(--acento), var(--acentob));
    border-radius: var(--radius);
}

.e-sppp3-borde {
    background: linear-gradient(225deg, var(--acento), var(--acentob));
    padding: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.e-sppp3-txt {
    border: 1px solid rgba(var(--negrorgb), 0.1);
    background: var(--bckg-1);
    padding: 15px;
    border-radius: 5px;
}

.e-sppp3-datos {
    border-radius: 0 0 var(--radius) var(--radius);
    text-align: center;
    justify-content: center;
    color: var(--ctext);
    font-family: var(--font);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 9px;
    line-height: 13px;
}

.e-sppp4 {
    width: 600px;
    margin: 15px auto 10px;
    line-height: 1.2rem;
    font-size: 0.85rem;
    font-family: arial, sans-serif;
    text-align: justify;
    color: var(--ctext);
    background: var(--bckg-2);
    border-radius: var(--radius);
    position: relative;
    box-shadow: var(--shw);
    --font: "Noto Sans";
    --letrab: "Poppins";
    --radius: 25px;
    --shw: 2px 2px 8px rgba(var(--negrorgb), 0.3);
}

.e-sppp4-cabecera {
    display: flex;
    padding: 25px 25px 50px;
    align-items: center;
    background: linear-gradient(90deg, var(--acento), var(--acentob));
    border-radius: var(--radius) var(--radius) 0 0;
    position: relative;
    overflow: hidden;
    flex-flow: wrap;
    justify-content: center;
    text-align: center;
}

.e-sppp4-cabecera:before,
.e-sppp4-cabecera:after,
.e-sppp4-dots:after,
.e-sppp4-dots:before,
.e-sppp4-centro:after,
.e-sppp4-centro:before {
    content: "";
    position: absolute;
    border-radius: 100%;
}

.e-sppp4-cabecera:before,
.e-sppp4-dots:after,
.e-sppp4-centro:after {
    background-image: radial-gradient(circle at 2px 2px, var(--bckg-2) 2px, transparent 0);
    background-size: 15px 15px;
    top: -55px;
    width: 200px;
    height: 200px;
    left: -30px;
    opacity: 0.3;
}

.e-sppp4-cabecera:after,
.e-sppp4-dots:before,
.e-sppp4-centro:before {
    background-image: radial-gradient(circle at 1px 1px, var(--bckg-2) 1px, transparent 0);
    background-size: 10px 10px;
    top: 125px;
    width: 105px;
    height: 105px;
    left: 175px;
    opacity: 0.15;
}

.e-sppp4-dots:after {
    width: 195px;
    height: 195px;
    left: auto;
    right: -30px;
    top: 45px;
    opacity: 0.2;
}

.e-sppp4-dots:before,
.e-sppp4-centro:before {
    top: 20px;
    height: 75px;
    width: 75px;
    left: auto;
    right: 205px;
}

.e-sppp4-titulo {
    display: block;
    width: 500px;
    padding: 10px;
    font-family: var(--letrab);
    font-weight: 600;
    color: #eee;
    text-shadow: 1px -1px var(--acentob), -1px 1px var(--acentob);
    position: relative;
    z-index: 1;
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.85rem;
}

.e-sppp4-titulo b,
.e-sppp4-titulo strong {
    color: var(--acento);
    position: relative;
    z-indez: 1;
}

.e-sppp4-titulo i,
.e-sppp4-titulo em {
    font-weight: 900;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #eee;
    color: transparent;
    text-shadow: none;
}

.e-sppp4-centro {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0 25px;
    gap: 25px;
    position: relative;
}

.e-sppp4-txt {
    margin: -25px auto;
    font-family: arial, sans-serif;
    text-align: justify;
    background: var(--bckg-1);
    border-radius: var(--radius);
    position: relative;
    box-shadow: var(--shw);
    padding: 25px;
    width: 450px;
    min-height: 285px;
    position: relative;
    z-index: 1;
}

.e-sppp4-datos {
    margin-top: 35px;
    position: relative;
    z-index: 1;
    width: 100%;
    margin: auto;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.e-sppp4-datos span {
    display: block;
    text-decoration: none;
    white-space: nowrap;
    font: 600 10px var(--letrab);
    letter-spacing: 1px;
    line-height: 10px;
    background: var(--acentob);
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 3px -3px 10px -2px rgba(15, 15, 15, .05);
    color: #eee;
}

.e-sppp4-datos span>a {
    color: #eee !important;
}

.e-sppp4-centro:after {
    bottom: 0;
    right: 0;
    left: auto;
    top: auto;
    background-image: radial-gradient(circle at 2px 2px, var(--acento) 2px, transparent 0);
    opacity: 0.5;
}

.e-sppp4-centro:before {
    right: 10px;
    left: auto;
    bottom: 25%;
    background-image: radial-gradient(circle at 1px 1px, var(--acentob) 1px, transparent 0);
    opacity: 0.7;
}

.e-sppp4-pjs {
    display: flex;
    padding: 50px 25px 25px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(270deg, var(--acento), var(--acentob));
    border-radius: 0 0 var(--radius) var(--radius);
    position: relative;
    flex-flow: wrap;
}

.e-sppp5 {
    width: 585px;
    margin: 10px auto;
    line-height: 1.2rem;
    font-size: 0.85rem;
    font-family: arial, sans-serif;
    text-align: justify;
    color: var(--ctext);
    overflow: hidden;
    position: relative;
    border: 15px solid var(--bckg-2);
    outline: var(--brd);
    outline-offset: -15px;
    box-shadow: 0 0 0 1px var(--bckg-2);
    background-color: var(--acento);
    background-attachment: fixed;
    background-image: var(--bk);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    --font: "Roboto";
    --letrab: "Germania One";
    --radius: 5px;
}

.e-sppp5-doble {
    margin: 20px;
    outline: var(--brd);
    background: var(--bckg-1);
}

.e-sppp5-superior {
    border-bottom: var(--brd);
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    text-shadow: 2px 2px rgba(var(--negrorgb), 0.5);
    height: 115px;
}

.e-sppp5-ico {
    padding: 10px;
    border: var(--brd);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--acento);
    background-image: var(--bk);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    border-radius: var(--radius);
    width: 98px;
    height: 98px;
    font-size: 65px;
}

.e-sppp5-titulo {
    text-align: center;
    font-family: var(--letrab);
    letter-spacing: -1px;
    width: 265px;
    font-size: 2rem;
    line-height: 2rem;
}

.e-sppp5-titulo i,
.e-sppp5-titulo em,
.e-sppp5-titulo b,
.e-sppp5-titulo strong,
.e-sppp5-titulo strike,
.e-sppp5-titulo span {
    display: contents;
    color: var(--acento);
}

.e-sppp5-txt {
    padding: 30px;
}

.e-sppp5-extra {
    background-color: var(--acento);
    background-image: var(--bk);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    border-radius: var(--radius);
    margin: 25px 25px 0;
    padding: 12px 15px 10px;
    display: block;
    text-transform: uppercase;
    font-family: var(--font);
    color: #eee;
    font-weight: 500;
    font-size: 0.5rem;
    letter-spacing: 2px;
    line-height: 0.8px;
    text-align: center;
}

.e-sppp5-extra>a {
    color: #eee !important;
}

body.day .e-sppp5,
body.day .e-sppp5-ico,
body.day .e-sppp5-extra {
    background-blend-mode: difference;
}

body.day .e-sppp5-ico {
    color: #eee;
}

body.day .e-sppp5-superior {
    text-shadow: none;
}

.e-sppp6 {
    width: 550px;
    box-sizing: content-box;
    margin: 10px auto;
    border: 1px solid var(--bckg-3);
    color: var(--ctext);
    line-height: 1.2rem;
    font-size: 0.85rem;
    font-family: arial, sans-serif;
    text-align: justify;
    --font: "Outfit";
    --letrab: "Hepta Slab";
}

.e-sppp6-cab {
    position: relative;
    height: 195px;
    overflow: hidden;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.e-sppp6-cab .str {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    color: var(--bckg-3);
    font-size: 30px;
}

.e-sppp6-cab .str.lef {
    justify-content: end;
    padding-right: 25%;
}

.e-sppp6-cab .str.rig {
    justify-content: start;
    padding-left: 25%;
}

.e-sppp6-cab .str.rig:before,
.e-sppp6-cab .str.lef:before {
    content: "";
    width: 99%;
    height: 1px;
    background: var(--bckg-3);
    position: absolute;
}

.e-sppp6-cab .str.lef:before {
    margin-right: 5px;
}

.e-sppp6-cab .str.rig:before {
    margin-left: 5px;
}

.e-sppp6-cab .str.f1,
.e-sppp6-cab .str.f2,
.e-sppp6-cab .str.f3 {
    position: absolute;
    width: auto;
    color: var(--acentob);
}

.e-sppp6-cab .str.f1 {
    top: 25%;
    left: 2%;
    rotate: 322deg;
    scale: 0.8;
    color: var(--acento);
}

.e-sppp6-cab .str.f2 {
    top: 44%;
    right: 3%;
    rotate: 40deg;
}

.e-sppp6-cab .str.f3 {
    top: 55%;
    right: 5%;
    rotate: 40deg;
    scale: 1.5;
}

.e-sppp6-tit {
    font-family: var(--letrab);
    text-transform: uppercase;
    font-size: 30px;
    padding: 10px 25px;
    text-align: center;
    font-weight: 700;
    line-height: 35px;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    background: -webkit-linear-gradient(0deg, var(--acento), var(--acentob));
}

.e-sppp6-txt {
    border-top: 1px solid var(--bckg-3);
    border-bottom: 1px solid var(--bckg-3);
    padding: 40px;
}

.e-sppp6-dat {
    padding: 10px;
    text-align: center;
    font-family: var(--letrab);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 10px;
    display: flex;
    align-items: center;
    color: var(--acento);
}

.e-sppp6-dat:after,
.e-sppp6-dat:before {
    content: "";
    height: 1px;
    widht: auto;
    background: var(--bckg-3);
    flex: auto;
}

.e-sppp6-dat:after {
    background: linear-gradient(to right, var(--acento), var(--bckg-3));
}

.e-sppp6-dat:before {
    background: linear-gradient(to left, var(--acento), var(--bckg-3));
}

.e-sppp7 {
    width: 575px;
    margin: 10px auto;
    line-height: 1.2rem;
    font-size: 0.85rem;
    font-family: arial, sans-serif;
    text-align: justify;
    color: var(--ctext);
    background: var(--bckg-2);
    overflow: hidden;
    position: relative;
    border: 15px solid var(--bckg-3);
    outline: var(--brd);
    outline-offset: -15px;
    box-shadow: 0 0 0 1px var(--bckg-2);
    --font: "Roboto";
    --letrab: "Germania One";
}

.e-sppp7-superior {
    background-color: var(--acento);
    position: relative;
    display: flex;
    color: #eee;
    align-items: center;
    min-height: 100px;
    border-bottom: var(--brd);
    text-align: center;
    padding: 25px 30px;
}

.e-sppp7-titulo {
    display: block;
    overflow: hidden;
    font-family: var(--letrab);
    font-size: 40px;
    line-height: 45px;
    text-shadow: 2px -2px rgba(var(--negrorgb), 0.8);
    text-align: center;
    width: 100%;
}

.e-sppp7-titulo i,
.e-sppp7-titulo em,
.e-sppp7-titulo b,
.e-sppp7-titulo strong,
.e-sppp7-titulo strike,
.e-sppp7-titulo span {
    display: contents;
    color: var(--acento);
}

.e-sppp7-txt {
    padding: 35px;
}

.e-sppp7-dts {
    width: 100%;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px;
    text-align: center;
    font-size: 0.7rem;
    letter-spacing: 1px;
    color: #eee;
    border-top: var(--brd);
    background-color: var(--acento);
}

.e-sppp8 {
    width: 440px;
    margin: 15px auto 10px;
    line-height: 1.2rem;
    font-size: 0.85rem;
    font-family: arial, sans-serif;
    text-align: justify;
    color: var(--ctext);
    border-radius: var(--radius);
    position: relative;
    box-shadow: var(--shw);
    background: var(--bk), linear-gradient(45deg, var(--acento), var(--acentob));
    padding: 25px;
    box-sizing: content-box;
    --font: "Noto Sans";
    --letrab: "Poppins";
    --radius: 25px;
    --shw: 2px 2px 8px rgba(var(--negrorgb), 0.3);

}

.e-sppp8-titulo {
    padding: 15px 10px 5px;
    text-align: center;
    font-family: var(--letrab);
    font-weight: 700;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2rem;
    color: var(--bckg-2);
    text-shadow: 1px -1px var(--acentob);
}

.e-sppp8-txt {
    background: var(--bckg-2);
    padding: 65px 25px 25px;
    border-radius: var(--radius);
    margin: 10px;
}

.e-sppp8-img {
    border-radius: 100%;
    margin: 15px auto -65px;
    position: relative;
    background: var(--bckg-2);
    height: 90px;
    width: 90px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 100%;
    margin: 15px auto -65px;
    position: relative;
}

.e-sppp8-img>div {
    height: 90px;
    width: 90px;
    border-radius: 100%;
    position: relative;
}

.e-sppp8-datos {
    display: flex;
    margin: 15px;
    gap: 10px;
    justify-content: space-between;
}

.e-sppp8-datos>span {
    color: var(--acento);
    font-family: var(--font);
    border-radius: 15px;
    background: var(--bckg-2);
    padding: 4px 6px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.6rem;
    line-height: 1rem;
}

.poste1 {
  width: 500px;
  margin: 20px auto;
  line-height: 1.15rem;
  font-size: 0.8rem;
  font-family: arial, sans-serif;
  text-align: justify;
  position: relative;
  background: var(--bckg-2);
  outline: 1px solid var(--cborder);
  box-sizing: content-box;
  outline-offset: 5px;
}

.poste1-sup {
  border: 1px solid var(--acento);
  padding: 25px 25px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  position: relative;
}

.poste1-tit {
  text-align: center;
  font-family: var(--font);
  font-weight: 900;
  font-size: 38px;
  line-height: 40px;
}

.poste1-ava {
  position: absolute;
  bottom: -41px;
  width: 75px;
  height: 75px;
  outline: 1px solid var(--acento);
  border: 5px solid var(--bckg-2);
}

.poste1-txt {
  border: 1px solid var(--acento);
  border-top: none;
  padding: 60px 35px 10px;
}

.poste1-dts {
  padding: 15px;
  text-align: center;
  margin: 20px 0 15px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.poste1-dts:before,
.poste1-dts:after {
  content: "";
  position: absolute;
  width: 100px;
  height: 2px;
  background: var(--cborder);
}

.poste1-dts:before {
  top: 0;
}

.poste1-dts:after {
  bottom: 0;
}

.poste1-dts>span:after {
  content: "—";
  margin-left: 10px;
  color: var(--acento);
  -webkit-text-stroke: 1px var(--acento);
}

.poste1-dts>span:last-of-type:after {
  content: "";
  margin-left: 0;
}

.post3 {
  width: 575px;
  margin: 10px auto;
  line-height: 1.15rem;
  text-align: justify;
  background: var(--bckg-2);
  overflow: hidden;
  position: relative;
  border: 10px solid var(--background-2);
  outline: 1px solid var(--cborder);
  outline-offset: -10px;
  box-shadow: 0 0 0 1px var(--cborder);
  border-radius: 15px;
}

.post3-cabecera {
  display: flex;
  align-items: center;
  height: 150px;
  background: var(--background-2);
  border-bottom: 1px solid var(--cborder);
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 5px;
}

.post3-cabecera:before {
  position: absolute;
  content: "";
  width: 350px;
  height: 255px;
  background: url(https://i.postimg.cc/RZNy21dL/635ba49c7e1b7.png);
  bottom: 0;
  background-size: cover;
  opacity: 0.2;
  mix-blend-mode: exclusion;
}

.post3-tit {
  display: block;
  width: 100%;
  font-family: var(--font);
  font-size: 2rem;
  letter-spacing: -2px;
  color: var(--acento);
  text-align: center;
  text-shadow: 1px 1px var(--cborder);
  position: relative;
  line-height: 2.3rem;
  z-index: 1;
}

.post3-datos {
  display: flex;
  flex-flow: wrap;
  gap: 10px;
  margin: 0px 5px;
  z-index: 1;
}

.post3-datos span {
  background: var(--cborder);
  border: var(--borde);
  padding: 2px 8px;
  text-transform: uppercase;
  font-family: var(--font);
  font-weight: 500;
  font-size: 0.65rem;
  letter-spacing: 1px;
  outline: 1px solid var(--cborder);
  outline-offset: 2px;
}

.post3-txt {
  border: 25px solid var(--background-1);
  outline: 1px solid var(--cborder);
  outline-offset: -25px;
  padding: 25px;
}

.post5 {
  width: 500px;
  margin: 10px auto;
  display: flex;
  flex-flow: wrap;
  position: relative;
  font-family: arial;
  text-align: justify;
  background: var(--bckg-2);
  overflow: hidden;
}

.post5>span {
  display: flex;
  flex-flow: wrap;
  align-content: center;
  justify-content: center;
  padding: 30px 15px 15px;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  background: var(--background-2);
  border: 1px solid var(--cborder);
  font-family: var(--font);
  position: relative;
  min-height: 90px;
}

.post5>span:before,
.post5>span:after,
.post5-wat:before,
.post5-wat:after {
  content: "";
  width: 50px;
  height: 50px;
  border: 1px solid var(--cborder);
  border-radius: 100px;
  background: var(--background-1);
  position: absolute;
}

.post5>span:before {
  left: -25px;
  top: -25px;
}

.post5>span:after {
  right: -25px;
  top: -25px;
}

.post5>span>span {
  font-size: 30px;
  text-transform: uppercase;
  line-height: 30px;
  font-weight: 700;
  position: relative;
  width: -webkit-fill-available;
  text-align: center;
  letter-spacing: -1.5px;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  background: -webkit-linear-gradient(0deg, var(--acento), var(--acentob));
}

.content.clearfix .post5>span i {
  position: absolute;
  top: 5px;
  font-size: 120px;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  background: -webkit-linear-gradient(0deg, var(--acento), var(--acentob));
  -webkit-text-stroke: 2px var(--background-1);
  opacity: 0.25;
}

.post5-wat {
  display: flex;
  flex-flow: wrap;
  align-content: center;
  justify-content: center;
  padding: 25px;
  width: 100%;
  border: 1px solid var(--cborder);
  font-family: var(--font);
  background: linear-gradient(45deg, var(--acento), var(--acentob));
  position: relative;
  color: #eee;
}

.post5-wat:before {
  left: -25px;
  bottom: -25px;
}

.post5-wat:after {
  right: -25px;
  bottom: -25px;
}

.post5-wat>span {
  background: rgba(255, 255, 255, 0.10);
  padding: 7px 10px 5px;
  border-radius: 10px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 9px;
  font-weight: 900;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

.post5-int {
  border: 1px solid var(--cborder);
  border-top: none;
  border-bottom: none;
}

.post5-int txt {
  display: block;
  border: 40px solid transparent;
  line-height: 20px;
}

.post4 {
  width: 550px;
  box-sizing: content-box;
  margin: 10px auto;
  background: var(--bckg-2);
  line-height: 1.2rem;
  text-align: justify;
}

.post4-cab {
  padding: 40px 15px 15px;
  font-family: var(--font);
  text-align: center;
}

.post4-cab>span {
  display: block;
  font-weight: 500;
  font-size: 22px;
  padding: 10px 15px;
  line-height: 25px;
  color: var(--acento);
}

.post4-cab>dts {
  font-size: 10px;
  text-transform: uppercase;
  color: var(--ddd);
  font-weight: 600;
  display: block;
  padding: 0 30px 20px;
}

.post4-sep {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.post4-sep:before,
.post4-sep:after {
  content: "";
  width: 100%;
  background: linear-gradient(270deg, var(--acento), var(--acentob));
  height: 1px;
}

.post4-sep:after {
  background: linear-gradient(90deg, var(--acento), var(--acentob));
}

.post4-sep>i {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  margin: 0 -1px;
  background: var(--acento);
  height: 40px;
  width: 40px;
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: var(--background-3);
}

.post4-txt {
  margin: 10px 50px 40px;
}

.post4-dats {
  background: linear-gradient(90deg, var(--acento), var(--acentob), var(--acento));
  padding: 5px;
}

.content.clearfix .poste1-txt u,
.content.clearfix .post1-txt u,
.content.clearfix .post3-txt u,
.content.clearfix .post4-txt u,
.content.clearfix .post5-int txt u,
.content.clearfix .post2-txt u,
.content.clearfix .post6-txt u,
.content.clearfix .post7-texto u {
  position: relative;
  background: var(--background-2);
  text-decoration: none;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(90deg, var(--acento), var(--acentob)) 1;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 0 3px;
  font-size: 11px;
  text-transform: uppercase;
  font-family: var(--font);
  font-weight: 600;
  letter-spacing: 1px;
  color: #777;
}

.content.clearfix .poste1-txt i,
.content.clearfix .poste1-txt strike,
.content.clearfix .poste1-txt a,
.content.clearfix .post1-txt i,
.content.clearfix .post1-txt strike,
.content.clearfix .post1-txt a,
.content.clearfix .post3-txt i,
.content.clearfix .post3-txt strike,
.content.clearfix .post3-txt a,
.content.clearfix .post4-txt i,
.content.clearfix .post4-txt strike,
.content.clearfix .post4-txt a,
.content.clearfix .post5-int txt i,
.content.clearfix .post5-int txt strike,
.content.clearfix .post5-int txt a,
.content.clearfix .post2-txt i,
.content.clearfix .post2-txt strike,
.content.clearfix .post2-txt a,
.content.clearfix .post6-txt i,
.content.clearfix .post6-txt strike,
.content.clearfix .post6-txt a,
.content.clearfix .post7-texto a,
.content.clearfix .post7-texto i,
.content.clearfix .post7-texto strike {
  color: var(--acento);
  font-weight: 500;
  font-family: var(--font);
  font-size: 13px;
}

.content.clearfix .poste1-txt i,
.content.clearfix .post5-int txt i,
.content.clearfix .post3-txt i,
.content.clearfix .post4-txt i,
.content.clearfix .post2-txt i,
.content.clearfix .post1-txt i,
.content.clearfix .post6-txt i,
.content.clearfix .post7-texto i {
  font-style: italic;
}

.poste1-txt a,
.post3-txt a,
.post4-txt a,
.post5-int txt a,
.post2-txt a,
.post1-txt a,
.post6-txt a,
.post7-texto a {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  background: -webkit-linear-gradient(40deg, var(--acentob), var(--acento));
  background-size: 100%;
  font-weight: 800;
  transition: all .7s ease-in-out;
}

.poste1-txt a:hover,
.post3-txt a:hover,
.post4-txt a:hover,
.post5-int txt a:hover,
.post2-txt a:hover,
.post1-txt a:hover,
.post6-txt a:hover,
.post7-texto a:hover {
  background-size: 500%;
  transition: all .7s ease-in-out;
}

.post2 {
  width: 575px;
  margin: 10px auto;
  line-height: 1.15rem;
  text-align: justify;
  overflow: hidden;
  position: relative;
  border: 10px solid var(--background-2);
  outline: 1px solid var(--cborder);
  outline-offset: -10px;
  box-shadow: 0 0 0 1px var(--cborder);
  border-radius: 15px;
}

.post2-superior {
  background-color: var(--acento);
  position: relative;
  display: flex;
  flex-flow: wrap;
  font-family: var(--font);
  background-attachment: fixed;
}

.post2-titulo {
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  border-bottom: 1px solid var(--cborder);
  display: flex;
  padding: 40px;
  overflow: hidden;
  align-items: center;
  font-family: var(--font);
  font-size: 35px;
  line-height: 28px;
  text-shadow: 2px -2px rgba(0, 0, 0, 0.8);
  text-align: center;
  justify-content: center;
  color: #ccc;
}

.post2-titulo i,
.post2-titulo em,
.post2-titulo b,
.post2-titulo strong,
.post2-titulo strike,
.post2-titulo span {
  display: contents;
  color: var(--acento);
}

.post2-txt {
  padding: 35px;
}

.post2-dts {
  width: 100%;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px;
  text-align: center;
  font-size: 0.7rem;
  letter-spacing: 1.5px;
  background-color: var(--acento);
  color: #ccc;
  border-top: 1px solid var(--cborder);
  background-attachment: fixed;
}

.post1 {
  width: 525px;
  margin: 15px auto 10px;
  line-height: 1.15rem;
  text-align: justify;
  position: relative;
  background: var(--bckg-2);
  box-sizing: content-box;
  overflow: hidden;
}

.post1:before {
  content: "";
  position: absolute;
  top: 10%;
  left: 0;
  background: url(https://i.postimg.cc/9F53PkLs/44b6f0bc722278419ce84bd7965aeedd.jpg);
  width: 450px;
  height: 850px;
  background-size: contain;
  background-repeat: no-repeat;
  mix-blend-mode: color-burn;
  opacity: 0.3;
}

body.day .post1:before {
  mix-blend-mode: darken;
}

.post1-cabecera {
  background: #222;
  padding: 30px;
  text-align: center;
  color: #ccc;
  border-top: 5px solid var(--acento);
  font-size: 40px;
  font-family: var(--font);
  line-height: 45px;
  text-transform: uppercase;
  font-weight: 300;
}

.post1-titulo,
.post1-cabecera {
  position: relative;
  z-index: 1;
}

.post1-titulo b {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  background: -webkit-linear-gradient(40deg, var(--acento), var(--acentob));
  font-weight: 800;
}

.post1-txt {
  position: relative;
  margin: 30px;
  padding: 25px;
  background: var(--bckg-2);
}

.post1-extra {
  background: #222;
  padding: 10px 15px;
  text-align: center;
  color: #ccc;
  border-bottom: 5px solid var(--acento);
  font-size: 0.6rem;
  font-family: var(--font);
  line-height: 0.6rem;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
}

.post6 {
  width: 470px;
  margin: 15px auto 10px;
  line-height: 1.15rem;
  text-align: justify;
  position: relative;
  background: var(--bckg-2);
  border: 10px solid var(--bckg-1);
  outline: 1px solid var(--cborder);
  box-sizing: content-box;
}

.post6 blockquote br {
  display: block;
}

.post6>blockquote {
  margin: 0 30px;
}

.post6:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 5;
  inset: 15px;
  border: 1px solid var(--cborder);
  mix-blend-mode: overlay;
  pointer-events: none;
}

.post6-cabecera {
  height: 140px;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px;
  background: var(--background-2);
  position: relative;
  margin-bottom: 20px;
  align-content: flex-end;
  color: var(--eee);
  text-transform: uppercase;
}

.post6-cabecera:before,
.post6-cabecera:after {
  content: "";
  inset: 0;
  background: #111;
  position: absolute;
}

.post6-cabecera:before {
  mix-blend-mode: color;
}

.post6-cabecera:after {
  opacity: 0.7;
  mix-blend-mode: darken;
}

.post6-titulo {
  position: relative;
  z-index: 1;
  font-size: 2.1rem;
  line-height: 2rem;
  font-family: var(--font);
  font-weight: 300;
  letter-spacing: -2px;
  color: #ccc;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.post6-titulo i {
  font-weight: 700;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  background: -webkit-linear-gradient(40deg, var(--acento), var(--acentob));
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.8);
  letter-spacing: 0px;
}

.post6-extra {
  background: var(--cborder);
  padding: 2px 8px;
  position: absolute;
  bottom: -10px;
  z-index: 1;
  outline: 1px solid var(--background-2);
  font-family: var(--font);
  font-weight: 600;
  font-size: 0.6rem;
  line-height: 1rem;
  letter-spacing: 1px;
  border-radius: 5px;
}

.post6-txt {
  padding: 15px 30px 30px;
  margin: 10px;
  font-size: 15px;
  line-height: 20px;
}

.post7 {
  width: 550px;
  margin: 10px auto;
  line-height: 1.15rem;
  font-size: 0.8rem;
  text-align: justify;
  overflow: hidden;
  position: relative;
  background: var(--bckg-2);
  --negrorgb: 0, 0, 0;
}

.post7-superior {
  padding: 50px;
  text-align: center;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  position: relative;
  text-shadow: 2px 2px rgba(var(--negrorgb), 0.5);
  text-transform: uppercase;
}

.post7-superior:before,
.post7-superior:after,
.post7-texto:before,
.post7-texto:after {
  content: "";
  position: absolute;
}

.post7-superior:before,
.post7-superior:after {
  inset: 0;
}

.post7-superior:before {
  background: var(--bckg-2);
  mix-blend-mode: color;
}

.post7-superior:after {
  background: linear-gradient(360deg, var(--bckg-2) 15%, transparent);
}

.post7-titulo,
.post7-subti {
  position: relative;
  z-index: 1;
}

.post7-titulo {
  font-family: var(--font);
  font-weight: 900;
  font-size: 38px;
  line-height: 40px;
}

.post7-titulo b,
.post7-titulo i,
.post7-titulo strong,
.post7-titulo em {
  color: var(--acento);
}

.post7-texto {
  margin: 50px;
  margin-top: 25px;
  font-size:0.9rem;
  position: relative;
}

.post7-texto:before,
.post7-texto:after {
  width: 150px;
  height: 150px;
  opacity: 0.5;
}

.post7-texto:before {
  top: -20px;
  left: -1px;
  border-top: 1px solid var(--cborder);
  border-left: 1px solid var(--cborder);
}

.post7-texto:after {
  bottom: -20px;
  right: -1px;
  border-bottom: 1px solid var(--cborder);
  border-right: 1px solid var(--cborder);
}

.post7-txt {
  position: relative;
  z-index: 1;
  margin: 25px;
}

.post7-datos {
  margin: 0 15px 15px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

}

.post7-datos>span {
  font-family: var(--font);
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 9px;
  text-transform: uppercase;
  background: var(--cborder);
  padding: 0 4px 0 6px;
  line-height: 18px;
}

/**Extras**/
.e-sppp8-txt u,
.e-sppp7-txt u,
.e-sppp6-txt u,
.e-sppp5-txt u,
.e-sppp4-txt u,
.e-sppp3-txt u,
.e-sppp2-txt u,
.e-sppp-txt u,
.poste7-tx u,
.poste8-tx u,
.poste6-tx u,
.poste5-tx u,
.poste2-tx u,
.poste3-tx u,
.poste4-tx u {
    position: relative;
    background: var(--background-2);
    text-decoration: none;
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(90deg, var(--acento), var(--acentob)) 1;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 0 3px;
    font-size: 11px;
    text-transform: uppercase;
    font-family: var(--font);
    font-weight: 600;
    letter-spacing: 1px;
    color: #777;
}

.e-sppp8-txt i,
.e-sppp8-txt strike,
.e-sppp8-txt a,
.e-sppp7-txt i,
.e-sppp7-txt strike,
.e-sppp7-txt a,
.e-sppp6-txt i,
.e-sppp6-txt a,
.e-sppp6-txt strike,
.e-sppp5-txt i,
.e-sppp5-txt a,
.e-sppp5-txt strike,
.e-sppp4-txt i,
.e-sppp4-txt a,
.e-sppp4-txt strike,
.e-sppp3-txt i,
.e-sppp3-txt a,
.e-sppp3-txt strike,
.e-sppp2-txt i,
.e-sppp2-txt a,
.e-sppp2-txt strike,
.e-sppp-txt i,
.e-sppp-txt a,
.e-sppp-txt strike,
.poste8-tx i,
.poste7-tx i,
.poste6-tx i,
.poste5-tx i,
.poste2-tx i,
.poste3-tx i,
.poste4-tx i,
.poste8-tx a,
.poste7-tx a,
.poste6-tx a,
.poste5-tx a,
.poste2-tx a,
.poste3-tx a,
.poste4-tx a,
.poste8-tx strike,
.poste7-tx strike,
.poste6-tx strike,
.poste2-tx strike,
.poste5-tx strike,
.poste3-tx strike,
.poste4-tx strike {
    color: var(--acento);
    font-family: var(--font);
}

.e-sppp8-txt i,
.e-sppp7-txt i,
.e-sppp6-txt i,
.e-sppp5-txt i,
.e-sppp4-txt i,
.e-sppp3-txt i,
.e-sppp2-txt i,
.e-sppp-txt i,
.poste8-tx i,
.poste7-tx i,
.poste6-tx i,
.poste5-tx i,
.poste2-tx i,
.poste3-tx i,
.poste4-tx i {
    font-style: italic;
}

.e-sppp8-txt a,
.e-sppp7-txt a,
.e-sppp6-txt a,
.e-sppp5-txt a,
.e-sppp4-txt a,
.e-sppp3-txt a,
.e-sppp2-txt a,
.e-sppp-txt a,
.poste8-tx a,
.poste7-tx a,
.poste6-tx a,
.poste5-tx a,
.poste2-tx a,
.poste3-tx a,
.poste4-tx a {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    background: -webkit-linear-gradient(40deg, var(--acentob), var(--acento));
    background-size: 100%;
    font-weight: 800;
    transition: all .7s ease-in-out;
}

.e-sppp8-txt a:hover,
.e-sppp7-txt a:hover,
.e-sppp6-txt a:hover,
.e-sppp5-txt a:hover,
.e-sppp4-txt a:hover,
.e-sppp3-txt a:hover,
.e-sppp2-txt a:hover,
.e-sppp-txt a:hover,
.poste8-tx a:hover,
.poste7-tx a:hover,
.poste6-tx a:hover,
.poste5-tx a:hover,
.poste2-tx a:hover,
.poste3-tx a:hover,
.poste4-tx a:hover {
    background-size: 500%;
    transition: all .7s ease-in-out;
}



.poste1 br,
.post6 br,
.post1 br,
.post2 br,
.post3 br,
.post4 br,
.post5 br,
.poste8 br,
.poste7 br,
.spps br,
.poste6 br,
.poste5 br,
.poste2 br,
.poste3 br,
.poste4 br, 
.e-sppp8 br,
.e-sppp7 br,
.e-sppp6 br,
.e-sppp5 br,
.e-sppp4 br,
.e-sppp3 br,
.e-sppp2 br,
.e-sppp br {
    display: none;
}

.poste1-txt br,
.post6-titulo br,
.post6-txt br,
.post1-txt br,
.post2-txt br,
.post3-txt br,
.post4-txt br,
.post5-int txt br,
.poste7-tx br,
.poste8-tx br,
.poste6-tx br,
.poste5-tx br,
.poste4-r br,
.poste2-tx br,
.poste3-tx br,
.poste4-tx br, 
.e-sppp8-txt br,
.e-sppp7-txt br,
.e-sppp6-txt br,
.e-sppp5-txt br,
.e-sppp4-txt br,
.e-sppp3-txt br,
.e-sppp2-txt br,
.e-sppp-txt br {
    display: inline;
}


/**Clases**/
.civil,
.ciudadano {
    --acento: var(--ciudadanos);
    --acentob: var(--criminales);
}

.cele,
.celebridad {
    --acento: var(--g3);
    --acentob: var(--criminales);
}

.sanidad {
    --acento: var(--sanidad);
    --acentob: var(--refineria);
}

.polis,
.seguridad {
    --acento: var(--seguridad);
    --acentob: var(--empresarios);
}

.empre,
.empresario {
    --acento: var(--empresarios);
    --acentob: var(--sami);
}

.crimi,
.criminal {
    --acento: var(--criminales);
    --acentob: var(--ciudadanos);
}

.pesca,
.pescador {
    --acento: var(--pesca);
    --acentob: var(--criminales);
}

.petro,
.refineria {
    --acento: var(--refineria);
    --acentob: var(--sanidad);
}

.sami {
    --acento: var(--sami);
    --acentob: var(--empresarios);
}

.pnj, .npc {
    --acento: var(--pnj);
    --acentob: var(--ciudadanos);
}

.comercio {
    --acento: var(--comercio-industria);
    --acentob: var(--seguridad);
}

/**KeyFames**/
